{% extends "templates/index.html" %}
{% block content %} <!-- Fetches the code in base.html, plugs in the content into the block--> 

<!-- First Content Layout -->

<div class = "content1 band">
	<div class = "container">
		<div class = "row">
			<div class = "six columns">
				<div class = "row" style = "border: groove;">Welcome to my website everybody. My name is Terrence Green and since I have been little I have been the champion of the world. It seems odd for me to have self declared myself as such, but nonetheless, it is true. I suppose it is fitting then that I type this out to all of you, granted, you are the ones on my website. I utilized the Skeleton framework to create my website, but have made several changes to make it better.</div>
				<div class = "row" style = "border: groove;">My passions include the Detroit Lions, Detroit Pistons, Detroit Red Wings, and Detroit Tigers. I guess it would have been easier to just say that I am a Detroit sports fan but that would not have taken up as many words and that is what I am going for. With regards to my life, I live a pretty fun one. Girls here and there, my boys everywhere, school is kind of ass but what are you going to do? </div>
				<div class = "row" style = "border: groove;">Ik ook spreek Nederlands. That meants I also speak Dutch. Het is een goed taal te leren. Ik denk dat elke person in Amerika een tweede taal leren. Natuurlijk, dat is een kleine mening, maar het is mijn.</div>
			</div>
			<div class = "six columns" style = "border:groove;">Image</div>
		</div>
	</div>
</div>








		
{%endblock%}