{% extends "templates/index.html" %}
{% block content %}	
	<div class = "image orientation">
		<div class = "container">
			<div class = "four columns">
				<div class = "row" style = "border: groove"><img src = "static/images/terrencehalloween.jpg" alt = "halloween" class = "terrence"></div>
				<div class = "row" style = "border: groove"><img src = "static/images/bli.jpg" alt = "halloween" class = "terrence"></div>
				<div class = "row" style = "border: groove"><img src = "static/images/sister.jpg" alt = "halloween" class = "terrence"></div>
			</div>
			<div class = "four columns">
				<div class = "row" style = "border: groove"><img src = "static/images/dutch.jpg" alt = "halloween" class = "terrence"></div>
				<div class = "row" style = "border: groove"><img src = "static/images/christmas.jpg" alt = "halloween" class = "terrence"></div>
				<div class = "row" style = "border: groove"><img src = "static/images/wakeboarding.jpg" alt = "halloween" class = "terrence"></div>
			</div>
			<div class = "four columns">
				<div class = "row" style = "border: groove"><img src = "static/images/girl.jpg" alt = "halloween" class = "terrence"></div>
				<div class = "row" style = "border: groove"><img src = "static/images/prom.jpg" alt = "halloween" class = "terrence"></div>
				<div class = "row" style = "border: groove"><img src = "static/images/wisconsin.jpg" alt = "halloween" class = "terrence"></div>



		</div>
	</div>			


		{% endblock %}