{% extends "templates/index.html" %}
{% block content %} <!-- Fetches the code in base.html, plugs in the content into the block--> 


<div class = "content u-full-width">
	<div class = "container">
		<div class = "row">
			<div class = "twelve columns">
				<h3 class = "separator">Home</h3>
			</div>
		</div>	
		<div class = "row">

			<ul class="work-items u-cf">
			  	<li class="twelve columns">
    		  	<img src="http://i.imgur.com/irwq1K6.png">			  	
			    	<div class="work-detail">
			      		<div class="vertical-centered">
			        		<h3>Passions</h3>
			        		<p class="separator orange"></p>
			        		<h7> My passions include the Detroit Lions, Detroit Pistons, Detroit Red Wings, and Detroit Tigers. I guess it would have been easier to just say that I am a Detroit sports fan but that would not have taken up as many words and that is what I am going for. With regards to my life, I live a pretty fun one.Ik ook spreek Nederlands. That meants I also speak Dutch. Het is een goed taal te leren. Ik denk dat elke person in Amerika een tweede taal leren. Natuurlijk, dat is een kleine mening, maar het is mijn.

			        		</h7>
			        	</div>
			    	</div>
			  	</li>
			 </ul>
		</div>	  	
		<div class = "row">
			<ul class = "work-items u-cf">
				<li class="twelve columns">
	    		<img src="http://i.imgur.com/irwq1K6.png">	  	
				<div class="work-detail">
				  <div class="vertical-centered">
				    <h3>About</h3>
				    <p class="separator orange"></p>
				    <h7>Welcome to my website everybody. My name is Terrence Green and since I have been little I have been the champion of the world. It seems odd for me to have self declared myself as such, but nonetheless, it is true. I suppose it is fitting then that I type this out to all of you, granted, you are the ones on my website. I utilized the Skeleton framework to create my website, but have made several changes to make it better.</h7>
				  </div>
				</div>
				</li>
			</ul>	  
		</div>
	</div>
</div>			  
			  

		
 			
 	

		
{%endblock%}