<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Terrence Green</title>
  
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link href="static/css/lightbox.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/terrence.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">


 

<!-- Nagivation Layout -->

<nav class = "navigation">
  <div class = "container">
    <div class = "row">
      <ul class = "linkmaking u-full-width">
        <li>
          <div class = "three columns"><a href="/home.html" class = {{activeh}} >{{Home}}</a></div>
        </li>  
        <li>
        <div class = "three columns"><a href="/projects.html" class = {{activep}}  >{{Projects}}</a></div>
        </li>
        <li>
          <div class = "three columns"><a href="/journey.html" class = {{activej}}   >{{Journey}}</a></div>
        </li>
        <li>
          <div class = "three columns"><a href="/contact.html" class = {{activec}} >{{Contact}}</a></div>
        </li>
      </ul>
    </div>
  </div>
</nav>


</head>


<!-- Seperator -->
<div class="line u-full-width">
  <div class="line"></div>
  <div class="container centered">
    <div class="twelve columns">
      <h1 class="separator">Terrence Green</h1>
      <h2>Welcome to paradise.</h2>
    </div>
  </div>
</div>      






<body>
<!-- Block Content -->
{% block content %}
  I should never see this content.  It should be replaced.
{% endblock %}



<!-- Footer -->
<footer>
  <div class = "container">
    <div class = "row">
      <div class = "twelve columns">
        <h5>&copy 2016 Terrence Green.</h5>
    <div class = "container">
      <div class = "row">
        <div class = "icon three columns">
          <a class="socialicons" href="https://www.facebook.com/terrence.green.51"><img src="static/images/facebook.png" width=50 height=50 alt="Facebook logo"></a>
        </div>
        <div class = "icon three columns">          
          <a class="socialicons" href="https://twitter.com/mattt_man11"><img src="static/images/twitter.png" width=50 height=50 alt="Twitter logo"></a>
        </div>
        <div class = "icon three columns">  
          <a class="socialicons" href ="https://www.instagram.com/chilledgreentea/"><img src="static/images/instagram.png" width=50 height=50 alt="Instagram logo"></a>
        </div>
        <div class = "icon three columns">
          <a class="socialicons" href="https://www.reddit.com/"><img src="static/images/reddit.png" width=50 height=50 alt="LinkedIn logo"></a>
        </div>  
      </div>
    </div>
  </div>
</footer>  
            



<!-- lightbox -->
<script src="static/js/lightbox-plus-jquery.js"></script>

</body>

</html>
