{% extends "templates/index.html" %}
{% block content %}

	<div class = "content u-full-width">
		<div class = "container">
			<div class = "row">
				<div class = "twelve columns">
					<h3 class = "separator">My Gallery</h3>
				</div>
			</div>	
		</div>
	</div>


	<div class = "orientation">
		<div class = "container">
			<div class = "beans twelve columns">
				<div class = "row">
					<a href = "static/images/terrencehalloween.jpg" alt = "halloween" data-lightbox="projects" data-title = "A picture of me and my roommate at Halloween." class = "terrence">Halloween</a>
				</div>	
				<div class = "row">
					<a href = "static/images/bli.jpg" alt = "BLI" data-lightbox="projects" data-title = "Me and my group members for the Barger Leadership Institue." class = "terrence">Leadership</a>
				</div>
				<div class = "row">	
					<a href = "static/images/sister.jpg" alt = "My Sister" data-lightbox="projects" data-title = "My sister and I, she is a freshman here at UofM." class = "terrence">Sister</a>
				</div>
				<div class = "row">
					<a href = "static/images/dutch.jpg" alt = "Dutch mates" data-lightbox="projects" data-title = "Me and my main friends in Dutch class." class = "terrence">Dutch</a>
				</div>
				<div class = "row">	
					<a href = "static/images/christmas.jpg" alt = "Family Christmas photo" data-lightbox="projects" data-title = "My family and I posing for our most recent Christmas photo." class = "terrence">Christmas Photo</a>
				</div>
				<div class = "row">	
					<a href = "static/images/wakeboarding.jpg" alt = "wakeboarding" data-lightbox="projects" data-title = "Me riding the wake." class = "terrence">Wakeboarding</a>
				</div>
				<div class = "row">	
					<a href = "static/images/girl.jpg" alt = "Youngest Sister" data-lightbox="projects" data-title = "My youngest sister Ashley." class = "terrence">Youngest Sister</a>
				</div>
				<div class = "row">	
					<a href = "static/images/prom.jpg" alt = "Prom" data-lightbox="projects" data-title = "Picture of me and NOT my prom date ha." class = "terrence">Prom</a>
				</div>
				<div class = "row">	
					<a href = "static/images/wisconsin.jpg" alt= "Wisconsin visit" data-lightbox="projects" data-title = "I took this picture when I went to visit my friend who goes to Wisconsin." class = "terrence">Wisconsin</a>	
				</div>	
				<div>
			</div>
		</div>
	</div>					
		

		{% endblock %}