{% extends "templates/index.html" %}
{% block content %}	

<div class = "content u-full-width">
	<div class = "container">
		<div class = "row">
			<div class = "twelve columns">
				<h3 class = "separator">My Projects</h3>
			</div>
		</div>	
		<div class = "row">

			<ul class="work-items u-cf">
			  	<li class="twelve columns">
    		  	<img src="http://i.imgur.com/irwq1K6.png">			  	
			    	<div class="work-detail">
			      		<div class="vertical-centered">
			        		<h3>This summer</h3>
			        		<p class="separator orange"></p>
			        		<h7> This summer I will begin by going to Peru to work with volunteer firefighters in Lima, the largest city and capital of Peru. The trip is through a program here at the University of Michigan, GIEU. I discovered the program in October, and on a whim I decided to give it a shot and apply. While it was ultra competitive, I am Terrence Green and I am a winner, so naturally I got in. When I return from Peru, I will be heading to Los Angelos to begin my acting career. I like to think of myself as an up and coming Taylor Kitsch, or as I first discovered him, Tim Riggins.</h7>
			        	</div>
			    	</div>
			  	</li>
			 </ul>
		</div>	  	
		<div class = "row">
			<ul class = "work-items u-cf">
				<li class="twelve columns">
	    		<img src="http://i.imgur.com/irwq1K6.png">	  	
				<div class="work-detail">
				  <div class="vertical-centered">
				    <h3>Peru</h3>
				    <p class="separator orange"></p>
				    <h7>Peru is about to be the time of my life. I used to lifeguard when I was younger so when I saw that there was a program that would allow me to be able to work with firegihters who save lives on a daily basis. I knew it was for me. While in Peru I will do more than work with firefighters, I will bond with students from the University of Michigan. I have already become fast friends with a couple kids on the trip, so I know it will make for a memory to remember. Never say no to a memory.</h7>
				  </div>
				</div>
				</li>
			</ul>	  
		</div>
		<div class = "row">
			<ul class = "work-items u-cf">
				<li class="twelve columns">
	    		<img src="http://i.imgur.com/irwq1K6.png">	  	
				<div class="work-detail">
				  <div class="vertical-centered">
				    <h3>LA</h3>
				    <p class="separator orange"></p>
				    <h7>Los Angelos? Yes I know it sounds crazy but my biggest dream has always been to be an actor. I love to immerse myself in the unfamiliar, to experience life through perspectives completely unlike my own. How better to do that than as an actor in Hollywood? I know it seems silly, but aren't most dreams? Better to try than not try and always wonder. Besides, if it does not work out, I can always come back to the University of Michigan in the fall.</h7>
				 </div>
				</div>
				</liL>
			</ul>
		</div>
	</div>
</div>			  
			


		{% endblock %}





