{% extends "templates/index.html" %}
{% block content %}	
	<div class = "projects band">
		<div class = "container">
			<div class = "row">
				<div class = "four columns" style = "border: groove">This summer I will be having the time of my life. In the fall I discovered a study abroad program for the month of May in Peru. Once I got accepted, I knew I would need to find something to do for the rest of the summer. I began my search, the next two paragraphs will be over what I am doing this summer.</div>
				<div class = "four columns" style = "border: groove">In Peru, Lima specifically, I will be workig with volunteer firefighters. I was a lifeguard from 16-18, so I certainly loved </div>
				<div class = "four columns" style = "border: groove">taco</div>
			</div>
		</div>
	</div>
				


		{% endblock %}
